forge-inline-message.custom-properties {
  --forge-inline-message-color: lime;
  --forge-inline-message-background-color: violet;
  --forge-inline-message-icon-color: yellow;
}

.demo-wrapper > * {
  padding: 16px;
}