<app-demo-card headerText="Linear Progress">
  <div class="container">
    <forge-linear-progress [determinate]="isDeterminate" [progress]="progress" [buffer]="buffer"></forge-linear-progress>

    <div>
      <forge-checkbox [(ngModel)]="isDeterminate" (change)="onDeterminateChanged()">Determinate</forge-checkbox>
    </div>

    <ng-container *ngIf="isDeterminate">
      <div class="with-label">
        <label class="forge-typography--label1">Progress: {{progress}}</label>
        <forge-slider [value]="sliderProgressValue" (forge-slider-input)="progress = $any($event).detail / 100"></forge-slider>
      </div>

      <div class="with-label">
        <label class="forge-typography--label1">Buffer: {{buffer}}</label>
        <forge-slider [value]="sliderBufferValue" (forge-slider-input)="buffer = $any($event).detail / 100"></forge-slider>
      </div>
    </ng-container>
  </div>
</app-demo-card>
