<app-demo-card headerText="Tab Bar">
  <forge-tab-bar [activeTab]="selectedTab" (forge-tab-bar-change)="selectedTab = $event.detail.index" underline>
    <forge-tab>Tab 1</forge-tab>
    <forge-tab>Tab 2</forge-tab>
    <forge-tab>Tab 3</forge-tab>
  </forge-tab-bar>
  <div style="padding: 16px;" [ngSwitch]="selectedTab">
    <div *ngSwitchCase="0">Content for tab one</div>
    <div *ngSwitchCase="1">Content for tab two</div>
    <div *ngSwitchCase="2">Content for tab three</div>
  </div>
</app-demo-card>
