<app-demo-card headerText="Floating Action Button">
  <forge-fab>
    <button>
      <i class="tyler-icons">favorite</i>
    </button>
  </forge-fab>
  
  <br/>
  <br/>
  
  <forge-fab mini="true">
    <button>
      <i class="tyler-icons">favorite</i>
    </button>
  </forge-fab>
  
  <br/>
  <br/>
  
  <forge-fab extended="true">
    <button>
      <i class="tyler-icons">add</i>
      <span>Create</span>
    </button>
  </forge-fab>
  
  <br/>
  <br/>
  
  <forge-fab extended="true">
    <button>
      <span>Create</span>
      <i class="tyler-icons">add</i>
    </button>
  </forge-fab>
  
  <br/>
  <br/>
  
  <forge-fab extended="true">
    <button>
      <span>Create</span>
    </button>
  </forge-fab>
  
  <br/>
  <br/>
  
  <forge-fab color="primary">
    <button>
      <i class="tyler-icons">add</i>
    </button>
  </forge-fab>
  
  <br/>
  <br/>
  
  <forge-fab color="danger" style="--mdc-theme-text-primary-on-light: white;">
    <button>
      <i class="tyler-icons">delete</i>
    </button>
  </forge-fab>
  
  <forge-fab style="position: fixed; bottom: 1rem; right: 1rem; --mdc-theme-text-primary-on-light: white; ">
    <button>
      <i class="tyler-icons">add</i>
    </button>
  </forge-fab>
</app-demo-card>
