<app-demo-card headerText="Floating Action Button">
  <forge-fab>
    <button type="button">
      <forge-icon name="favorite"></forge-icon>
    </button>
  </forge-fab>

  <br/>
  <br/>

  <forge-fab mini="true">
    <button type="button">
      <forge-icon name="favorite"></forge-icon>
    </button>
  </forge-fab>

  <br/>
  <br/>

  <forge-fab extended="true">
    <button type="button">
      <forge-icon name="add"></forge-icon>
      <span>Create</span>
    </button>
  </forge-fab>

  <br/>
  <br/>

  <forge-fab extended="true">
    <button type="button">
      <span>Create</span>
      <forge-icon name="add"></forge-icon>
    </button>
  </forge-fab>

  <br/>
  <br/>

  <forge-fab extended="true">
    <button type="button">
      <span>Create</span>
    </button>
  </forge-fab>

  <br/>
  <br/>

  <forge-fab color="primary">
    <button type="button">
      <forge-icon name="add"></forge-icon>
    </button>
  </forge-fab>

  <br/>
  <br/>

  <forge-fab color="danger" style="--mdc-theme-text-primary-on-light: white;">
    <button type="button">
      <forge-icon name="delete"></forge-icon>
    </button>
  </forge-fab>

  <forge-fab style="position: fixed; bottom: 1rem; right: 1rem; --mdc-theme-text-primary-on-light: white; ">
    <button type="button">
      <forge-icon name="add"></forge-icon>
    </button>
  </forge-fab>
</app-demo-card>
