<app-demo-card headerText="Table example" [fullWidth]="true">

  <p class="forge-typography--subtitle1">
    The following example demonstrates a complex usage of the Forge table component to showcase many of its features,
    while also demonstrating a realistic design for an actual Tyler application.
  </p>
  
  <p class="forge-typography--subtitle1">
    The design for the following example can be found
    <a href="https://tylertech.invisionapp.com/share/7TWPBF5B2E5#/screens" target="_blank" rel="noopener noreferrer">here</a>.
  </p>

  <forge-divider></forge-divider>

  <div class="table-header" *ngIf="journalSelectionCount === 0">
    <h2>Journals</h2>
    <div class="align-vert">
      <forge-menu [options]="availableColumns" (forge-menu-select)="onToggleColumnVisibility($event)">
        <forge-icon-button style="color: var(--mdc-theme-text-secondary-on-background); margin-right: 8px;">
          <button type="button" class="tyler-icons">view_column</button>
          <forge-tooltip position="bottom">Customize columns</forge-tooltip>
        </forge-icon-button>
      </forge-menu>
      <forge-button type="outlined" (click)="onToggleFilters()">
        <button type="button">
          <i class="tyler-icons">filter_list</i>
          {{showFilter ? 'Cancel filter' : 'Filter'}}
        </button>
      </forge-button>
    </div>
  </div>

  <div *ngIf="journalSelectionCount > 0" class="selection-header">
    <div class="forge-typography--body1">
      {{journalSelectionCount}} journals selected
    </div>
    <div class="journal-action-buttons">
      <forge-button>
        <button type="button">
          <i class="tyler-icons">import_export</i>
          <span>Export</span>
        </button>
      </forge-button>
      <forge-button>
        <button type="button">
          <i class="tyler-icons">note_add</i>
          <span>Post</span>
        </button>
      </forge-button>
      <forge-button>
        <button type="button">
          <i class="tyler-icons">print</i>
          <span>Print</span>
        </button>
      </forge-button>
      <forge-button>
        <button type="button">
          <i class="tyler-icons">compare_arrows</i>
          <span>Release</span>
        </button>
      </forge-button>
      <forge-button>
        <button type="button">
          <i class="tyler-icons">not_interested</i>
          <span>Void</span>
        </button>
      </forge-button>
      <forge-button (click)="clearSelections()">
        <button type="button">
          <i class="tyler-icons">close</i>
          <span>Cancel</span>
        </button>
      </forge-button>
    </div>
  </div>

  <div class="table-container">
    <forge-table
      #journalTable
      [columnConfigurations]="columnConfigs$ | async"
      [data]="pagedData$ | async"
      [filter]="showFilter"
      (forge-table-select)="onTableRowSelected($event)"
      (forge-table-select-all)="onTableSelectAll($event)"
      select="true"
      select-key="number"
      multiple="true"
      resizeable="true">
    </forge-table>
  </div>
  <div class="table-footer">
    <forge-paginator [total]="totalCount"></forge-paginator>
  </div>
</app-demo-card>
