<app-demo-card headerText="Radio" role="radiogroup">
  <div>
    <forge-radio>
      <input type="radio" id="input-radio-01" name="radios" value="one" [(ngModel)]="selected" />
      <label for="input-radio-01">Option 01</label>
    </forge-radio>
  </div>

  <div>
    <forge-radio>
      <input type="radio" id="input-radio-02" name="radios" value="two" [(ngModel)]="selected" />
      <label for="input-radio-02">Option 02</label>
    </forge-radio>
  </div>

  <div>
    <forge-radio>
      <input type="radio" id="input-radio-03" name="radios" value="three" [(ngModel)]="selected" />
      <label for="input-radio-03">Option 03</label>
    </forge-radio>
  </div>
</app-demo-card>
