<app-demo-card headerText="Button">
  <div>
    <forge-button>
      <button>Standard button</button>
    </forge-button>
    <forge-button type="raised">
      <button>Raised button</button>
    </forge-button>
    <forge-button type="unelevated">
      <button>Unelevated button</button>
    </forge-button>
    <forge-button type="outlined">
      <button>Outlined button</button>
    </forge-button>
  </div>

  <div style="margin-top: 16px;">
    <forge-button type="outlined-dense">
      <button>
        Dense button
      </button>
    </forge-button>
    <forge-button type="outlined">
      <button>
        <i class="tyler-icons">favorite</i>
        <span>Leading icon</span>
      </button>
    </forge-button>
    <forge-button type="outlined">
      <button>
        <span>Trailing icon</span>
        <i class="tyler-icons">favorite</i>
      </button>
    </forge-button>
  </div>
</app-demo-card>
