<app-demo-card headerText="Button">
  <div>
    <forge-button>
      <button type="button">Standard button</button>
    </forge-button>
    <forge-button type="raised">
      <button type="button">Raised button</button>
    </forge-button>
    <forge-button type="unelevated">
      <button type="button">Unelevated button</button>
    </forge-button>
    <forge-button type="outlined">
      <button type="button">Outlined button</button>
    </forge-button>
  </div>

  <div style="margin-top: 16px;">
    <forge-button type="outlined-dense">
      <button type="button">
        Dense button
      </button>
    </forge-button>
    <forge-button type="outlined">
      <button type="button">
        <forge-icon name="favorite"></forge-icon>
        <span>Leading icon</span>
      </button>
    </forge-button>
    <forge-button type="outlined">
      <button type="button">
        <span>Trailing icon</span>
        <forge-icon name="favorite"></forge-icon>
      </button>
    </forge-button>
  </div>
</app-demo-card>
