@use '@material/theme/color-palette' as mdc-color-palette;
@use '@tylertech/forge/styles/theme/theme-values';

.forge-expansion-demo {
  &__container {
    max-width: 960px;
    margin: 24px auto;

    forge-card {
      margin: -1px 0 0 0;
    }
  }
}

.card-detail {
  margin-bottom: 24px;

  &__container {
    height: 56px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__left {
      display: flex;
      align-items: center;
      justify-content: space-between;

      forge-open-icon {
        margin-right: 16px;
      }
    }

    &__right {
      display: flex;
      justify-content: space-between;

      forge-icon-button {
        color: mdc-color-palette.$grey-600;
      }
    }
  }
}

.card-grid {
  &__container {
    height: 56px;
    display: grid;
    grid-template-columns: min-content repeat(11, 1fr);
    align-items: center;
    gap: 16px;

    forge-open-icon {
      grid-column: 1;
    }

    .details {
      grid-column: 2/12;
    }

    .actions {
      grid-column: 13;
    }
  }
}

forge-open-icon {
  cursor: pointer;
}

.toolbar-start {
  display: flex;
  align-items: center;
  cursor: pointer;

  h2 {
    padding: 0;
    margin: 0;
  }
}

.container-outline-demo {
  outline: 3px solid theme-values.$primary;
  outline-offset: -3px;
  transition: all 0.1s linear;
}

.flex-item-demo {
  outline: 3px dashed theme-values.$info-primary-muted;
  outline-offset: -3px;
  transition: all 0.1s linear;
}
