<app-demo-card headerText="Progress Spinner">
  <forge-circular-progress [determinate]="determinate" [progress]="progress" [diameter]="diameter" [strokeWidth]="strokeWidth" [color]="color"></forge-circular-progress>

  <br/>
  <br/>
  
  <forge-select id="progress-spinner-mode" label="Mode" [(ngModel)]="determinate">
    <forge-option [value]="false">Indeterminate</forge-option>
    <forge-option [value]="true">Determinate</forge-option>
  </forge-select>

  <forge-select id="progress-spinner-color" label="Color" [(ngModel)]="color">
    <forge-option value="primary">Primary</forge-option>
    <forge-option value="secondary">Secondary</forge-option>
    <forge-option value="success">Success</forge-option>
    <forge-option value="warning">Warning</forge-option>
    <forge-option value="danger">Danger</forge-option>
    <forge-option value="info">Info</forge-option>
  </forge-select>

  <forge-select id="progress-spinner-diameter" label="Diameter" [(ngModel)]="diameter">
    <forge-option value="50">50</forge-option>
    <forge-option value="75">75</forge-option>
    <forge-option value="100">100</forge-option>
    <forge-option value="150">150</forge-option>
  </forge-select>

  <forge-select id="progress-spinner-stroke-width" label="Stroke Width" [(ngModel)]="strokeWidth">
    <forge-option value="5">5</forge-option>
    <forge-option value="10">10</forge-option>
    <forge-option value="15">15</forge-option>
  </forge-select>
</app-demo-card>
