<app-demo-card headerText="Toast">
  <forge-button type="raised">
    <button (click)="onShowToast()">Show toast</button>
  </forge-button>
  <br/>
  <br/>

  <forge-text-field>
    <label for="message">Message</label>
    <input type="text" id="message" [(ngModel)]="message" />
  </forge-text-field>

  <forge-text-field>
    <label for="action-text">Action Text</label>
    <input type="text" id="action-text" [(ngModel)]="actionText" />
  </forge-text-field>

  <forge-text-field>
    <label for="duration">Duration (ms)</label>
    <input type="number" id="duration" [(ngModel)]="duration" />
  </forge-text-field>

  <forge-select id="placement" label="Placement" [(ngModel)]="placement">
    <forge-option value="bottom">Bottom</forge-option>
    <forge-option value="bottom-left">Bottom Left</forge-option>
    <forge-option value="bottom-right">Bottom Right</forge-option>
    <forge-option value="top">Top</forge-option>
    <forge-option value="top-left">Top Left</forge-option>
    <forge-option value="top-right">Top Right</forge-option>
  </forge-select>
  
  <div>
    <forge-checkbox>
      <input type="checkbox" id="showClose" [(ngModel)]="showClose">
      <label for="showClose">Show close</label>
    </forge-checkbox>
  </div>

  <div>
    <forge-checkbox>
      <input type="checkbox" id="useCustom" [(ngModel)]="useCustom">
      <label for="useCustom">Use custom component</label>
    </forge-checkbox>
  </div>
</app-demo-card>