name: Pull Request Validation

on:
  pull_request:
    types: [opened, synchronize, reopened, labeled, unlabeled]
    
jobs:
  release:
    name: Pull Request Validation
    uses: tyler-technologies-oss/forge-automation-shared/.github/workflows/wf-auto-pr-check.yml@v2.10.3
