name: Build Pull Request

on:
  pull_request:
    paths:
      - '.github/workflows/**/*'
      - '.eslintrc.json'
      - 'auto.config.ts'
      - 'package.json'
      - 'angular.json'
      - 'karma.conf.json'
      - 'projects/**/*'
      - 'src/**/*'

jobs:
  build:
    name: Build
    uses: tyler-technologies-oss/forge-automation-shared/.github/workflows/wf-build-and-test.yml@v1.0.0
    secrets:
      NPM_TOKEN: ${{ secrets.FORGE_NPM_TOKEN }}
