<app-demo-card headerText="Accordion">
  <forge-accordion>
    <forge-expansion-panel class="forge-task-card">
      <div slot="header" class="forge-task-card__header">
        <div class="forge-task-card__header-content">
          <div class="forge-task-card__header-label">Panel One</div>
          <div class="forge-task-card__header-description">Panel one description</div>
        </div>
        <forge-open-icon></forge-open-icon>
      </div>
      <div class="forge-task-card__content">Content for panel one.</div>
    </forge-expansion-panel>
    <forge-expansion-panel class="forge-task-card">
      <div slot="header" class="forge-task-card__header">
        <div class="forge-task-card__header-content">
          <div class="forge-task-card__header-label">Panel Two</div>
          <div class="forge-task-card__header-description">Panel two description</div>
        </div>
        <forge-open-icon></forge-open-icon>
      </div>
      <div class="forge-task-card__content">Content for panel two.</div>
    </forge-expansion-panel>
    <forge-expansion-panel class="forge-task-card">
      <div slot="header" class="forge-task-card__header">
        <div class="forge-task-card__header-content">
          <div class="forge-task-card__header-label">Panel Three</div>
          <div class="forge-task-card__header-description">Panel three description</div>
        </div>
        <forge-open-icon></forge-open-icon>
      </div>
      <div class="forge-task-card__content">Content for panel three.</div>
    </forge-expansion-panel>
  </forge-accordion>
</app-demo-card>
